@import url('https://fonts.googleapis.com/css?family=Raleway');



.lista-conteudo {
  background-color: #fe9126;
  color:#FFF;
  font-family: 'Raleway', sans-serif;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}


#conteudo-da-lista {
  width:90%;
  min-width: 430px;
  margin: auto;
  text-align: left;
}

/*
.listas {
  width:90%;
  min-width: 430px;
  margin: auto;
  text-align: center;
  border: 1px solid red;
}
*/


.show {
 color: #E3A857;
 width: 45px;
 height: 45px;
 border-radius: 100%;
 background-color: #fff;
 margin:auto;
}

.show:before {
content: '+';
position: relative;
font-size: 70px;
top: -18px;
left: 8px;
}

#reveal #form-group {
  opacity: 0;
  text-align: center;
  margin: 10px auto;
  height: 0px;
  overflow: hidden;
  width: 100%;
  -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

#reveal:hover #form-group {
 opacity: 1;
 height: auto;

}

..shopping-lists input {
  font-size: 15px;
  padding-left: 10px;
}

.shopping-lists input, #form-group button{
  height: 30px;
  font-family: 'Raleway', sans-serif;
  border-radius: 1px;
  background-color: #fff;
  font-weight: bold;
  border: 1px dashed #E3A857;
  color: #E3A857;
}
#form-group button {
  height: 35px;
  width: 59px;
  font-size: 20px;
  font-family: 'Raleway', sans-serif;

}

#form-group button:hover {
  height: 35px;
  width: 59px;
  font-family: 'Raleway', sans-serif;
  background-color: #E3A857;
  border: 1px dashed #FFF;
  color: #FFF;
}


.shopping-lists ul {
  list-style: none;
  padding: 0;
  text-align: center;
}

.shopping-lists li {

  display: block;

  overflow: hidden;
  text-align: center;
  border-bottom: 0px solid #F8DE7E;
  padding: 10px;
  height: 40px;
  background: #fff;
  color:#fe9126;
  margin-bottom: 1px;
  -webkit-transition: -webkit-all 0.5s cubic-bezier(.25,.1,.25,1);
  transition: all 0.5s cubic-bezier(.25,.1,.25,1);
}

.shopping-lists li:hover {
  height: 100px;

}

.shopping-lists li .item-actions {
  opacity: 0;
  padding-top: 10px;
 
} 

.shopping-lists li .item-actions button {
 width:50px;
 height: 50px;
 border-radius: 100%;
 background-color: #fff;
 font-size: 20px;
 font-weight: bold;
 border: 1px dashed #fe9126;
 color: #fe9126;
 }

 .shopping-lists li .item-actions button:hover {

 background-color: #fe9126;
 border: 1px dashed #FFF;
 color: #FFF;
 }

.shopping-lists li:hover .item-actions {
  opacity: 1;
} 

.shopping-lists li .bought:after {
  content: '✓';

}

.active .bought:after {
  color:red;
}

.active {
  
  opacity: 0.4;
}


.botaoWishList {

  border: 1px solid red;
}